<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://live-api.vip.com/sce-live-app/appDown/live.ipa</string>
						
					</dict>
					<dict>
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<false/>
						<key>url</key>
						<string/>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<false/>
						<key>url</key>
						<string/>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.vip.live</string>
					<key>bundle-version</key>
					<string>1.0.2.Production</string>
					<key>kind</key>
					<string>software</string>
					<key>subtitle</key>
					<string>1.0.2 product</string>
					<key>title</key>
					<string>物流智眼平台</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>